
{% extends 'post/loginregister.html' %}

{% load static %}

        {% block content %}
         
        <div class="col-md-12">
            {% for post in posts %}
            <hr>
            <div class="post">
            <div class="date">
                <h2><a href="{% url 'post_detail' pk=post.pk %}" data-toggle="tooltip" title="Click to Like and Comment!">{{ post.title }}</a></h2>
                Published On: {{ post.published_date }}<br>
                BY: {{ post.author }}
                {% if user.is_authenticated and user == post.author %}
                 <a class="btn btn-default edit" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">
            
                
                    
                </span></a>
                {% endif %}
                
            </div>
              <br>
            <p>{{ post.text|safe|truncatewords:"100" }}
            <a href="{% url 'post_detail' pk=post.pk %}" data-toggle="tooltip" title="Click to see full post!">read more</a>
            </p>
<p>Likes: {{ post.likes.count }}</p>
        </div>

        {% endfor %}
    </div>
    {% endblock %}
