{% extends 'post/loginregister.html' %}
{% load static %}

     {% block content %}
     <h1>Sign Up Form</h1>
    {% include 'post/alerts.html' %}
   <form action="register"  method="post">
   {% csrf_token %}

  
      <div class="form-group">
      <label for="user" class="fon"> Username: </label><br>
      <input type="text" name="username"  value="" class="form-control commm" autocomplete="off" placeholder="Eg: Gh12....">
      <span id="usercheck"> </span>
      </div>

      <div class="form-group">
      <label for="password" class="fon"> Password: </label><br>
      <input type="password" name="pass" id="password" class="form-control commm" autocomplete="off" placeholder="Eg: Abc@12....">
      <span id="passcheck"> </span>
      </div>

      <div class="form-group">
      <label class="fon" for="conpassword"> Confirm_Password: </label><br>
      <input type="password" name="conpas" id="conpassword" class="form-control commm" autocomplete="off">
      <span id="conpasscheck"> </span>
      </div>

      <div class="form-group">
        <label class="fon"> first: </label><br>
        <input type="text" name="mobile" class="form-control commm" id="mobileNumber" autocomplete="off" maxlength="10" onkeypress="tt(event)" placeholder="Only digits....">
        <span id="mobileno"> </span>
      </div>
<div class="form-group">
        <label class="fon"> last: </label><br>
        <input type="text" name="last_name" class="form-control commm" id="mobileNumber1" autocomplete="off" maxlength="10" onkeypress="tt(event)" placeholder="Only digits....">
        <span id="mobileno"> </span>
      </div>

      <div class="form-group">
        <label class="fon"> Email: </label><br>
        <input type="text" name="email" class="form-control commm" id="emails" autocomplete="off">
        <span id="emailids"> </span>
      </div>

   <button type="submit" class="button3" style="width: 120px;font-size: 20px;margin-left: 600px;">Register</button>
   </form>
  

     
     
{% endblock %}
